:root {
  --bg1-color: #333; /* Dark gray */
  --bg2-color: #444; /* Darker gray */
  --text1-color: #eee; /* Light gray */
  --text2-color: #ccc; /* Lighter gray */
  --link-color: #90caf9; /* Light blue */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg1-color); /* Dark gray background */
  color: var(--text1-color); /* Light gray text */
}

.containerb {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

#sticky {
  align-self: center;
  justify-self: center;
  padding: 10px 20px;
  background-color: var(--bg2-color); /* Darker gray button */
  color: var(--text1-color); /* Light gray text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  grid-column: 1 / -1;
  text-align: center;
  margin: 20px 0;
  color: var(--text1-color); /* Light gray text */
  background-color: var(--bg2-color); /* Darker gray background */
  opacity: 0.8;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

dl {
  background-color: var(--bg2-color); /* Darker gray background */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: var(--text1-color); /* Light gray text */
}

p {
  color: var(--text2-color); /* Lighter gray text */
  margin-bottom: 10px;
}

a {
  color: var(--link-color); /* Light blue link */
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: var(--bg2-color); /* Darker gray background */
  opacity: 0.9;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: var(--bg1-color); /* Dark gray background on hover */
}

.c {
  line-height: 1.5;
}

video {
  width: 100%;
  margin-left: 10PX;
  margin-top: 10px;
  border: 2px solid var(--text1-color); /* Light gray border */
}

#cap {
  text-align: center;
  color: var(--text2-color); /* Lighter gray text */
  margin-top: 20px;
}