p{
 text-align: left;
 color: #AA934A;
 font-size: 18pt;
}
button{
  top: 1;
}
h1{
  font-family: myfont;
  text-align: center;
  color: #FFC819 ;
  font-size: 40pt;
  margin-top: 30px;
}
h2{
  font-family: myfont;
  font-size: 21pt;  
  color: #FFC819;
  text-alrgb(151, 97, 17)
}
.border{
  border-style: double;
  border: 2px solid black;
  border-radius: 12px;
  padding: 5px;
}

body {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-bottom: 215px;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom,#193AFF,#4356BF); 
  background-attachment: fixed;
} 


.image-container {
  display: flex;
  justify-content: center;
}

.image-container2 {
  display: flex;
  justify-content: center;
}

.round-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 150px;
  margin-top: 25px;
  align-items: center;
  box-shadow: 30px 2px 8px rgba(0, 0, 0, 0.416);
  transition: transform 0.3s ease; 
}

.round-image:hover {
  transform: scale(1.1);
}

.round-image:last-child {
  margin-right: 0; 
}

.round-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

#info-container {
  position: fixed;
  bottom: 20px;
  left: 50%; 
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}