/* styles.css */
:root {  
    --color1: #193AFF;  
    --color2: #FFC819;  
    --color3: #4356BF;
    --color4: #AA934A;
    --color5: #4D5480;
    --color6: #555041;
    --white: #ffffff;
    --black:#000000;
    --cont:rgba(171, 170, 170, 0.455);
    --text: black;
    --header:rgba(118, 118, 118, 0.658);
    --bckurl: url('../Imgs/bck/whitelong.jpg');
  }
  @font-face {
    font-family: roboto slab;
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
  }
  .dark {
    --white: rgb(48, 47, 47);
    --black:#ffffff;
    --color3: rgb(66, 66, 66);
    --color4: #555041;
    color: white;
    --cont: rgba(0, 0, 0, 0.352);
    --text:white;
    --header:rgba(0, 0, 0, 0.614);
    --bckurl: url('../Imgs/bck/graylong.jpg');
    
  }
  
/* Body styles */
body {
    font-family: 'roboto slab', sans-serif;
    background-image: var(--bckurl) ;
    background-size: cover;
    
    margin: 0;
    padding: 0;
    
}



/*file type menu styles*/
.types{
    height: 100px;
    background-color: var(--color4);
    z-index: 2;
}
.types .container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;

}
.types ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    height: fit-content;
    width: fit-content;
}
.types li{
    width: max-content;
    height: max-content;
    /*padding: 5px 20px 5px;*/
    padding: 33px 20px ;

}
.types a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    
}
.types li:hover{
    background-color: var(--color1);
}

/* Search bar styles */
#search {
    margin: 20px 60px;
    padding: 20px;
    background-color: var(--cont);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#search h2 {
    margin-top: 0;
}

#search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #838383a5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    background-color: whitesmoke;
}

#search-input::placeholder {
    color: var(--color5);
}


/* File list styles */
#file-list {
    margin: 10px 60px 0px;
    padding: 20px;
    background-color: var(--cont);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#file-list h2 {
    margin-top: 0;
}

/* Add file form styles */
#add-file {
    margin: 5px 60px 20px;
    padding: 20px;
    background-color: var(--cont);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#add-file form {
    display: flex;
    flex-direction: column;
}

#add-file label {
    margin-bottom: 10px;
}

#add-file input,
#add-file select {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #838383a5;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#add-file input[type="date"]::-webkit-calendar-picker-indicator{
    
    width: 100px;
    height: 30px;
    padding-inline: auto;
}
#add-file input[type="date"]::-webkit-calendar-picker-indicator:hover{
    
    cursor: pointer;
}

#add-file button {
    padding: 10px 20px;
    background-color: var(--color1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-file button:hover {
    background-color: var(--color2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--white);
    font-weight: bold;
}

td:first-child {
    width: 40%;
}

td a {
    color: #007bff; /* Link color */
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}
tr:hover{
    background-color:#4356bf62 ;
    
}

/* Form styles */
#add-file-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}