/* styles.css */
:root {  
    --color1: #193AFF;  
    --color2: #FFC819;  
    --color3: #4356BF;
    --color4: #AA934A;
    --color5: #4D5480;
    --color6: #555041;
    --white: #ffffff;
    --black:#000000;
  }
  @font-face {
    font-family: roboto slab;
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
  }

/* Body styles */
body {
    font-family: 'roboto slab', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: var(--color1);
    color: white;

    text-align: center;
}
/*file type menu styles*/
.types{
    height: 100px;
    background-color: var(--color4);
}
.types .container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;

}
.types ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    height: fit-content;
    width: fit-content;
}
.types li{
    width: max-content;
    height: max-content;
    /*padding: 5px 20px 5px;*/
    padding: 33px 30px ;

}
.types a{
    text-decoration: none;
    color: var(--white);
    font-size: 30px;
    font-weight: bold;
    
}
.types li:hover{
    background-color: var(--color1);
}
/* File list styles */
#file-list {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#file-list h2 {
    margin-top: 0;
}

/* Add file form styles */
#add-file {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#add-file form {
    display: flex;
    flex-direction: column;
}

#add-file label {
    margin-bottom: 10px;
}

#add-file input,
#add-file select {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-file button {
    padding: 10px 20px;
    background-color: var(--color1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-file button:hover {
    background-color: var(--color2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td:first-child {
    width: 40%;
}

td a {
    color: #007bff; /* Link color */
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

/* Form styles */
#add-file-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}