:root {
    --color1: #000000;
    --color2: #555041;
    --color3: rgb(255, 255, 255);
    --color4: #4d5480;
    --color5: black;
    --color6: rgb(255, 255, 255);
}

.our {
    background-color: rgb(67, 67, 67);
    color: rgb(180, 199, 180);
    border-block: 50px;
}