:root {  
    --color1: #193AFF;  
    --color2: #FFC819;  
    --color3: #4356BF;
    --color4: #AA934A;
    --color5: #4D5480;
    --color6: #555041;
    --white: #ffffff;
    --black:#000000;
    --transition: 0.2s;
   --heightHed: 50px;
  }

  @font-face {
    font-family: robot slab;
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 .margin-top{
    height: 50px;
 }
 
/*slide menu*/
body {
    font-family: 'roboto slab';
    margin:  0px;
   padding:  0px;
   overflow-x: hidden;
}
a{
    text-decoration: none;
    color: aliceblue;
}
/* Hide the container by default */
.slide {
    display: none;
  }
  .x{
    display: none;
  }
  
  /* Show the container when it has the 'active' class */
  .active {
    display: block;
    z-index: 1;
  }
.slide{
    position: absolute;
    position: fixed;

    width: 200px;
    height: 100%;
    background-color: var(--color3);
    color: aliceblue;
    /* border-radius: 5px; */
    margin: 0;
    left: 0;
    z-index: 120;
}
.icon i{
    font-size: 30px;
    padding: 5px;
    color: aliceblue;
    
}
.icon{
    position: absolute;
    width: fit-content;
    z-index: 120;
    
}
.icon:hover{
    border: solid blanchedalmond;
    border-radius: 5px;
    cursor: pointer;
}
.x{
    
    position: absolute;
    left: 150px;
    font-size: 20px;
    color: aliceblue;
    z-index: 155;
    margin-top: 15px;
}
.slide .container{
    display: none;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 95%;

}
.menu h3{
    font-size: 30px;
    font-weight: bold;
    /* margin: 0 10px 0; */
    margin: 10px 10px 18px 25px ;
}

.list ul{
    list-style: none;
    padding: 0px;
    margin-top: 0;
    font-size: 20px;
}
.list li {
    width: 100%;
    /* margin: 0px; */
    /* margin-right: 5px; */
    /* padding: 14px 2px 10px 1px; */
    padding: 13px 10px;
    margin-left: 10px;
    
    box-shadow: .1px;
}
.list li:hover{
    background-color: #ffb581;
    cursor: pointer;
    border-radius: 5px;
    color: black;
}

/* header style */

.logout{
    display: none;
}
.login{
    display: none;
}
.active{
    display: block;
}
.disappear{
    display: none;
}

 #theme{
    width: 75px;
    height: 50px;
    background-color: var(--black);
    color: var(--white);
 }
 #theme:hover{
    color: var(--color2);
    cursor: pointer;
 }
 
header {
    display: flex;
    /* height: var(--height); */
    background-color: var(--color3);
    position: fixed;
    height: var(--heightHed);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* height: 70px; */
    box-shadow: 0px 0px 10px #8a8a8a; 
    z-index: 11;
 }

 .logo {
    width: 100px;
     height: var(--heightHed);
    background-color: orange;
    text-align: center; 
    color: rgb(255, 208, 1);
    letter-spacing: 1px;
    font-size: 23px;
    font-weight: 700;
    
   
 }
 .logo p {
    color: black;
    margin: 8px;
 
 }

 p {
    margin-top: 18px;
 }
 .ulm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 30%;
    height: 100%;
    list-style: none;
    font-size: 20px;
 }

 
 header ul a:hover {
    color: rgb(255, 230, 0);
 }
 .login {
    
    background-color: var(--color1);
 }
 .logout{
    background-color: red;
 }
 .logout , .login{
    margin-left: 50px;
    
    padding: 10px 5px;
    text-align: center;
    border-radius: 12px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    margin-right: 10px;
 }

 .funcContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
    list-style: none;
 }

 
 /*bottom section*/
.bottom{
    height: 500px;
    background-color: var(--color3);
    
}
.bottom .container{
    padding-top: 50px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
}
.bottom .sec{
    width: 33%;
    color: #ffffff;
    margin: 10px 30px;
    
}
.bottom a{
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 15px;
}
.bottom h4{
    margin-bottom: 20px;
}
.bottom hr{
    width: 30%;
}
.bottom p{
    margin-bottom: 15px;
}
.bottom img{
    border:  solid var(--black) 1px;
}
 .blank{
    height: 400px;
 }